{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ league }} Dashboard</h1>
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>
	<h2>Pending transactions</h2>
	{% if pendingTransactions %}
		<table>
			<tr>
				<th>Ticker</th>
				<th>Transaction Type</th>
				<th>Time in Force</th>
				<th>Transaction Status</th>
				<th>Submitted</th>
				<th>Price 1</th>
				<th>Price 2</th>
				<th>Quantity</th>
			</tr>
			{% for pendTrans in pendingTransactions %}
				<tr>
					<td> {{ pendTrans.ticker }} </td>
					<td> {{ pendTrans.transactionType }} </td>
					<td> {{ pendTrans.timeInForce }} </td>
					<td> {{ pendTrans.get_transactionStatus_display  }} </td>
					<td> {{ pendTrans.submittedDateTime }} </td>
					<td> {{ pendTrans.price1 }} </td>
					<td> {{ pendTrans.price2 }} </td>
					<td> {{ pendTrans.quantity }} </td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	<h2>Transaction history</h2>
	{% if transactionHistory %}
		<table>
			<tr>
				<th>Ticker</th>
				<th>Transaction Type</th>
				<th>Time in Force</th>
				<th>Transaction Status</th>
				<th>Submitted</th>
				<th>Fulfilled</th>
				<th>Price 1</th>
				<th>Price 2</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
			{% for transHis in transactionHistory %}
				<tr>
					<td> {{ transHis.ticker }} </td>
					<td> {{ transHis.transactionType }} </td>
					<td> {{ transHis.timeInForce }} </td>
					<td> {{ transHis.get_transactionStatus_display  }} </td>
					<td> {{ transHis.submittedDateTime }} </td>
					<td> {{ transHis.fulfilledDateTime }} </td>
					<td> {{ transHis.price1 }} </td>
					<td> {{ transHis.price2 }} </td>
					<td> {{ transHis.quantity }} </td>
					<td> {{ transHis.total }} </td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	<h2>Holdings</h2>
	{% if holding %}
		<table>
			<tr>
				<th>Ticker</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
			{% for hold in holding %}
				<tr>
					<td> {{ hold.ticker }} </td>
					<td> {{ hold.quantity }} </td>
					<td> {{ hold.price }} </td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if pie_chart %}
	<div style="width:300;height:250">
		{{ pie_chart|safe }}
	</div>
	{% endif %}

{% endblock %}
