{% extends "base_generic.html" %}

{% block content %}
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a class="nav-link" href="#">Admin leagues</a>
		</li>
	  <li class="nav-item">
	    <a class="nav-link" href="#Player">Player leagues</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#Public">Public leagues</a>
	  </li>
	</ul>
	<div class="card">
		<div class="card-body">
	<h3>Admin Leagues</h3>
	<a href="{% url 'createLeague' %}"><button type="button" class="btn btn-link">Create league</button></a>
	{% if adminLeagues %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Starting Balance</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Public</th>
					<th scope="col">Description</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for adminLeague in adminLeagues %}
				<tr>
					<th scope="row">{{ adminLeague.name }}</th>
					<td> {{ adminLeague.startingBalance }}</td>
					<td> {{ adminLeague.startDate }}</td>
					<td> {{ adminLeague.endDate }} </td>
					<td> {{ adminLeague.public }} </td>
					<td> {{ adminLeague.description }} </td>
					<td><a href="admin/{{ adminLeague.name }}"><button type="button" class="btn btn-link">Manage</button></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
</div>
<br>
<div class="card" id="Player">
	<div class="card-body">
	<h3>Player Leagues</h3>
	{% if playerLeagues %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Starting Balance</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Public</th>
					<th scope="col">Description</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for playerLeague in playerLeagues %}
				<tr>
					<th scope="row">{{ playerLeague.name }}</th>
					<td> {{ playerLeague.startingBalance }}</td>
					<td> {{ playerLeague.startDate }}</td>
					<td> {{ playerLeague.endDate }} </td>
					<td> {{ playerLeague.public }} </td>
					<td> {{ playerLeague.description }} </td>
					<td><button type="button" class="btn btn-link"><a href="leave/{{ playerLeague.name }}">Leave</a></button></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
</div>
<br>
<div class="card" id="Public">
	<div class="card-body">
	<h3>Public Leagues</h3>
	{% if publicLeagues %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Starting Balance</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Public</th>
					<th scope="col">Description</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for publicLeague in publicLeagues %}
				<tr>
					<th scope="row">{{ publicLeague.name }}</th>
					<td> {{ publicLeague.startingBalance }}</td>
					<td> {{ publicLeague.startDate }}</td>
					<td> {{ publicLeague.endDate }} </td>
					<td> {{ publicLeague.public }} </td>
					<td> {{ publicLeague.description }} </td>
					<td><button type="button" class="btn btn-link"><a href="join/{{ publicLeague.name }}">Join</a></button></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
</div>
{% endblock %}