{% extends "base_generic.html" %}

{% block content %}
<div class = "card">
  <div class = "card-body">
  <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="{{form.username.id_for_label}}">Username:</label>
          {{form.username}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="{{form.password.id_for_label}}">Password:</label>
          {{form.password}}
        </div>
      </div>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
    </div>
    <br>
    <div class = "card">
        <div class = "card-body">
            <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Welcome back!</h5>
                  Enter login information to get back to trading with TTT.
                </div>
                {% load static %}
                <img src="https://scontent.fewr1-3.fna.fbcdn.net/v/t1.15752-0/p280x280/58372686_2034781523490613_7051164396730449920_n.png?_nc_cat=101&_nc_oc=AQkdZFxdJyt4QzOPdaXto0b2syWVrcJ8k50KVppz0h7RjYci4vuDoBr1WJ9D1zVjQ_E&_nc_ht=scontent.fewr1-3.fna&oh=32b738b7ccac8d7d9f025b8a8a659ba9&oe=5D437E99" style = "width: 18rem;" class="ml-3" alt="TTT">
              </div>
        </div>
      </div>

{% endblock %}