{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ ticker }}</h1>
	Ticker price: {{ quote.latestPrice }}
	Market Cap: {{ keyStats.marketcap }}
	Price-Earnings Ratio: {{ quote.peRatio }}
	Dividend Yield: {{ keyStats.dividendYield }}
	Average Volume: {{ quote.avgTotalVolume }}
	High Today: {{ quote.high }}
	Low Today: {{ quote.low }}
	Open Price: {{quote.open }}
	Close Price: {{ quote.close }}
	Volume: {{ quote.latestVolume }}
	52 Week High: {{ keyStats.week52high }}
	52 Week Low: {{ keyStats.week52low }}
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>

	{% if plot %}
	<div style="width:300;height:250">
		{{ plot|safe }}
	</div>
	{% endif %}
	<h3>News</h3>
	{% if news %}
		<div class="card">
			{% for new in news %}
				<div class="card-body">
					<h5 class="card-title">{{ new.headline }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{ new.datetime|slice:"0:10" }}</h6>
					<p class="card-text">{{ new.summary }}</p>
					<a href={{ new.url }} class="card-link" target="_blank" rel="noopener noreferrer">{{ new.source }}</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

