<!DOCTYPE html>
<html lang = "en">
	<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Trade</title>
	</head>
	<body>
		{% extends 'base_generic.html' %}	
	    {% block content %} 
	    <h1>Trade</h1>
	    <div class="container">
	    	<div class="row">
	    		<div class="col">
		    		<form>
		    			<div class="form-group">
		    				<label for="ticker">Ticker: </label>
		    				<input type="text" class="form-control" id="ticker" placeholder="AAPL">
		    			</div>
		    			<button type="submit" class="btn btn-primary">Submit</button>
		    		</form>
	    			<img src="{{ticker.graph.url}}" class="img-fluid" alt="{{ticker}}">
	    			Market price: {{MarketPrice}}
	    		</div>
	    		<div class="col">
	    			<form>
		    			<div class="form-group">
		    				<label for="tradeType">Trade type: </label>
		    					<select class="form-control" id="tradeType">
		    					<option>Buy</option>
		    					<option>Sell</option>
		    				</select>
		    			</div>
		    			<div class="form-group">
		    				<label for="orderType">Order type: </label>
		    				<select class="form-control" id="orderType">
		    					<option>Market order</option>
		    					<option>Limit order</option>
		    					<option>Stop limit order</option>
		    					<option>Stop order</option>
		    				</select>
		    			</div>
		    			<div class="form-group">
		    				<label for="price">{{priceType}} </label>
		    				<input type="text" class="form-control" id="price" placeholder="420.69">
		    			</div>
		    			<div>
		    				{% block price_Block %} {% endblock %}
		    			</div>
		    			<div class="form-group">
		    				<label for="numShares">Number of shares: </label>
		    				<input type="text" class="form-control" id="numShares" placeholder="69">
		    			</div>
		    			<button type="submit" class="btn btn-primary">Trade</button>
	    			</form>
	    		</div>
	    </div>
	    {% endblock content %} 
	</body>
</html>
