{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>Trade</h1>
	{% load crispy_forms_tags %}
	<form method="post">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="{{ form.ticker.id_for_label }}"> Ticker: </label>
					{{ form.ticker }}
			</div>
			<div class="form-group col-md-2">
				<label for="{{ form.asset.id_for_label }}">Asset: </label>
				{{ form.asset }}
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %}{% endif %}{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}