{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>Trade</h1>
	{% load crispy_forms_tags %}
	<form method="post">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="{{ form.ticker.id_for_label }}"> Ticker: </label>
					{{ form.ticker }}
			</div>
			<div class="form-group col-md-2">
				<label for="{{ form.asset.id_for_label }}">Asset: </label>
				{{ form.asset }}
			</div>
		</div>
		<button type="submit" class="btn btn-secondary">Submit</button>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %}{% endif %}{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<br>
<br>
<div class="card" style="width: 18rem;">
	<img src="https://www.thebalance.com/thmb/ATfDpAdTb-ZCXOQYyCih61tmEp4=/1255x837/filters:fill(auto,1)/how-to-start-trading-stocks-56a22ddb5f9b58b7d0c78746.jpg" class="card-img-top" alt="Card image">
	<div class="card-body">
	  <h5 class="card-title">Stock trading questions?</h5>
	  <p class="card-text">Check out some frequently asked questions.</p>
	  <a href="{% url 'FreqAskQ' %}" class="btn btn-primary">FAQs</a>
	</div>
  </div>
{% endblock %}